<div class="main">
    <div class="image">

    </div>
    <div class="form">
        <div class="container">
            <div class="logo">
                <img src="../../assets/ministry.png" alt="logo">

            </div>
            <div class="signin">
                <p style="float: left;">Sign in</p>

            </div>
            <div class="please">
                <p>Please sign in to access this platform</p>
            </div>

            <div class="formContainer">
                <form id="signup-form" (ngSubmit)="onSubmit()" class="loginForm">
                    <p id="response" style="color: red;">{{ loginError }}</p>
                    <input type="text" placeholder="Email" [(ngModel)]="Email" name="Email" data-cy="Email">
                    <button type="submit" data-cy="signin-btn" value="Submit" class="sign-in">Sign in</button>
                    <a routerLink="/passwordReset" data-cy="forgotPassword">Forgot password?</a>
                </form>
                
            </div>

            <div class="buttons">
                
            </div>

            <div class="back">
                <a href="">Back to Smart Academy</a>
            </div>

        </div>


    </div>
</div>

<script src="{{url_for('static', filename='js/login.js')}}"></script>