<div class="main">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/ministry.png" alt="logo">

        </div>
        <div class="nav">
            <ul>
                <li><a href="" style="color: green;">Back</a></li>
                <mat-icon>arrow_back</mat-icon>

            </ul>

        </div>
    </div>

    <div class="classes">
        <div class="classCard">
            <h3>Day 1</h3>
            <h4>Introduction</h4>
            <button>Enroll</button>
        </div>

        <div class="classCard">
            <h3>Day 2</h3>
            <h4>Basics of data analystics</h4>
            <button>Enroll</button>
        </div>  
        <div class="classCard">
            <h3>Day 2</h3>
            <h4>Python</h4>
            <button>Enroll</button>
        </div>  


    </div>
</div>