.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.navbar {
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.logo {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 300px;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100%;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.sidePanel{
    border: solid #d4d2c8 1px;
    height: 70vh;
    width: 24%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.classes{
    margin-top: 20px;
    border: solid #d4d2c8 1px;
    border-radius: 5px;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65vw;
    padding: 20px;
    background-color: #f1f1ee;
}
.classCard{
    background-color: white;
    border: solid #d4d2c8 1px;
    height: 30vh;
    width: 17vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}
.classCard button{
    width: 80%;
    height: 40px;
    background-color:green;
    color:white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.attend-button:disabled {
    background-color: #d6d6d6; 
    color: #888; 
    cursor: not-allowed; 
    opacity: 0.6; 
  }

  .track {
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  .progress-bar {
    width: 80%;
    height: 20px;
    position: relative;
  }
  
  .progress {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.3s ease;
  }
  