<div class="main">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/ministry.png" alt="logo">

        </div>
        <div class="nav">
            <ul>
                <li><a href="" style="color: green;">Back</a></li>
            </ul>
        </div>
    </div>

    <div class="dashboard">
        <div class="navPanel">
            <h4 style="font-weight: bold;">Admin Panel</h4>
            <button (click)="setView('upload')">Manage Files</button>
            <button (click)="setView('citizens')">Learners</button>
            <button (click)="setView('qualifiers')">Qualifiers</button>
        </div>

        <div class="container">

            <div class="formContainer" *ngIf="currentView === 'upload'">
                <p>Upload Excel files for registered citizens</p>

                <!-- Dropdown and Create Collection Section -->
                <div class="collection-section">
                    <div *ngIf="collections.length > 0" class="collection-dropdown">
                        <label for="collectionDropdown" class="dropdown-label">Choose a collection:</label>
                        <select id="collectionDropdown" [(ngModel)]="selectedCollection" class="dropdown-select">
                            <option *ngFor="let collection of collections" [value]="collection">
                                {{ collection }}
                            </option>
                        </select>&nbsp; &nbsp;
                        <button (click)="deleteCollection()"><mat-icon style="color: rgb(233, 63, 63);">delete</mat-icon></button>
                    </div>

                    <button class="toggle-button" (click)="showCreateCollection = !showCreateCollection">
                        {{ showCreateCollection ? 'Cancel' : 'Create New Collection' }}
                    </button>
                    <p *ngIf="deleteSuccess" class="status-message success">✅ Done!</p>
                </div>

                <!-- Create New Collection Form -->
                <div *ngIf="showCreateCollection" class="new-collection-form">
                    <p class="form-header">Create a new collection:</p>
                    <p class="error-message">{{ uploadError }}</p>

                    <input type="text" [(ngModel)]="newCollectionName" placeholder="Enter collection name"
                        class="input-field" /> &nbsp; &nbsp;
                    <button class="create-button" (click)="createCollection()">Create</button>
                </div>


                <!-- File Upload Section -->
                <div *ngIf="collections.length > 0 && !showCreateCollection" class="upload-container">
                    <h4 class="upload-title">File Upload</h4>
                    <input type="file" class="file-input" multiple (change)="onFilesSelected($event)" accept=".xls,.xlsx" />
                  
                    <div *ngIf="files.length > 0">
                      <section class="file-info">
                        <h3 class="file-info-title">Selected Files:</h3>
                        <ul class="file-list">
                          <li *ngFor="let file of files; index as i" class="file-item">
                            {{ file.name }} ({{ file.size }} bytes)
                            <button class="remove-btn" (click)="removeFile(i)">Remove</button>
                          </li>
                        </ul>
                      </section>
                  
                      <button class="upload-btn" (click)="onUpload()">Upload</button>
                  
                      <section *ngIf="status !== 'initial'" [ngSwitch]="status" class="status-container">
                        <p *ngSwitchCase="'uploading'" class="status-message uploading">⏳ Uploading...</p>
                        <p *ngSwitchCase="'success'" class="status-message success">✅ Done!</p>
                        <p *ngSwitchCase="'fail'" class="status-message fail">❌ Error!</p>
                        <p class="error-message">{{ uploadError }}</p>
                        <p *ngSwitchDefault class="status-message waiting"><mat-icon>hourglass_empty</mat-icon> Waiting to upload...</p>
                      </section>
                    </div>
                  </div>
                  
            </div>


            <div class="citizens" *ngIf="currentView === 'citizens'">
                
                <div class="citizenNav">
                    <p>Select a collection:</p>
                    <select [(ngModel)]="selectedCollectionToView"
                        (change)="getCollectionData(selectedCollectionToView)">
                        <option *ngFor="let collection of collections" [value]="collection">
                            {{ collection }}
                        </option>
                    </select>
                    
                </div>

                <div  class="attendance-container">
                    <p *ngIf="collectionData.length === 0">
                        Select collection or create one in the Manage Files panel
                    </p>

                    <div *ngIf="collectionData && collectionData.length > 0">
                        <p class="collection-title">Current Collection: {{ selectedCollectionToView }}</p>
                        <!-- <div class="filter-section">
                            <label for="daysFilter">Filter by Days: </label>
                            <input type="number" id="daysFilter" [(ngModel)]="daysFilter" (input)="filterData()"
                                placeholder="Enter number of days" class="criteria" />
                        </div> -->
                        <div class="filter-section">
                            <label for="daysFilter">Filter by Days: </label>
                            <input type="number" id="daysFilter" [(ngModel)]="daysFilter"
                                placeholder="Enter number of days" class="criteria" />
                            <button (click)="filterData()" class="filter-button">Apply Filter</button>
                            <button (click)="clearFilter()" class="refresh-button"><mat-icon>refresh</mat-icon></button>
                        </div>
                        <p>Qualifiers : {{qualifiersCount}}</p>

                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let key of displayKeys">
                                        {{ key }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let record of filteredData">
                                    <td *ngFor="let key of displayKeys">
                                        {{ record[key] }}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <div class="qualifiers" *ngIf="currentView === 'qualifiers'">
                <div class="qualifiersNav">
                    <h4>List of Qualifiers</h4>
                    <button (click)="downloadQualifiers()"><mat-icon>download</mat-icon></button>
                </div>
               
                <p *ngIf="listQualifiers.length === 0" class="no-qualifiers-message">
                    No qualifiers available.
                </p>
                <p *ngIf="noDownloadData" class="no-qualifiers-message">
                    No data available for download.
                </p>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th *ngFor="let key of displayKeys">
                                {{ key }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let qualifier of listQualifiers">
                            <td *ngFor="let key of displayKeys">
                                {{ qualifier[key] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


</div>