<div class="main">
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/ministry.png" alt="logo">

        </div>
        <div class="nav">
            <ul>
                <li><a href="" style="color: green;">Back</a></li>
            </ul>
        </div>
    </div>

    <div class="dashboard">
        <div class="navPanel">
            <button (click)="setView('upload')">Upload File</button>
            <button (click)="setView('citizens')">Citizens</button>
            <button (click)="setView('qualifiers')">Qualifiers</button>
        </div>

        <div class="container">
            <div class="header">
                <h1>Admin</h1>
            </div>

            <div class="formContainer" *ngIf="currentView === 'upload'">
                <p>Upload Excel files for registered citizens</p>

                <!-- Dropdown and Create Collection Section -->
                <div class="collection-section">
                    <div *ngIf="collections.length > 0" class="collection-dropdown">
                        <label for="collectionDropdown" class="dropdown-label">Choose a collection:</label>
                        <select id="collectionDropdown" [(ngModel)]="selectedCollection" class="dropdown-select">
                            <option *ngFor="let collection of collections" [value]="collection">
                                {{ collection }}
                            </option>
                        </select>
                    </div>

                    <button class="toggle-button" (click)="showCreateCollection = !showCreateCollection">
                        {{ showCreateCollection ? 'Cancel' : 'Create New Collection' }}
                    </button>
                </div>

                <!-- Create New Collection Form -->
                <div *ngIf="showCreateCollection" class="new-collection-form">
                    <p class="form-header">Create a new collection:</p>
                    <p class="error-message">{{ uploadError }}</p>

                    <input type="text" [(ngModel)]="newCollectionName" placeholder="Enter collection name"
                        class="input-field" />
                    <button class="create-button" (click)="createCollection()">Create</button>
                </div>


                <!-- File Upload Section -->
                <div *ngIf="collections.length > 0 && !showCreateCollection">
                    <h2>Multiple File Upload</h2>
                    <input type="file" class="file-input" multiple (change)="onFilesSelected($event)" />

                    <div *ngIf="files.length > 0">
                        <section class="file-info">
                            <h3>Selected Files:</h3>
                            <ul>
                                <li *ngFor="let file of files; index as i">
                                    {{ file.name }} ({{ file.size }} bytes)
                                    <button (click)="removeFile(i)">Remove</button>
                                </li>
                            </ul>
                        </section>

                        <button (click)="onUpload()">Upload All Files</button>

                        <section *ngIf="status !== 'initial'" [ngSwitch]="status">
                            <p *ngSwitchCase="'uploading'">⏳ Uploading...</p>
                            <p *ngSwitchCase="'success'">✅ Done!</p>
                            <p *ngSwitchCase="'fail'">❌ Error!</p>
                            <p>{{uploadError}}</p>
                            <p *ngSwitchDefault><mat-icon>hour_glass</mat-icon> Waiting to upload...</p>
                        </section>
                    </div>
                </div>
            </div>


            <div class="citizens" *ngIf="currentView === 'citizens'">
                <div class="citizenNav">

                    <p>Select a collection to view its data:</p>
                    <select [(ngModel)]="selectedCollectionToView"
                        (change)="getCollectionData(selectedCollectionToView)">
                        <option *ngFor="let collection of collections" [value]="collection">
                            {{ collection }}
                        </option>
                    </select>

                </div>

                <div class="attendance-container">
                    <p *ngIf="collectionData.length === 0">
                        Select collection or create one in the upload panel
                    </p>

                    <div *ngIf="collectionData && collectionData.length > 0">
                        <p class="collection-title">Current Collection: {{ selectedCollectionToView }}</p>
                        <!-- <div class="filter-section">
                            <label for="daysFilter">Filter by Days: </label>
                            <input type="number" id="daysFilter" [(ngModel)]="daysFilter" (input)="filterData()"
                                placeholder="Enter number of days" class="criteria" />
                        </div> -->
                        <div class="filter-section">
                            <label for="daysFilter">Filter by Days: </label>
                            <input type="number" id="daysFilter" [(ngModel)]="daysFilter"
                                placeholder="Enter number of days" class="criteria" />
                            <button (click)="filterData()" class="filter-button">Apply Filter</button>
                            <button (click)="clearFilter()" class="refresh-button"><mat-icon>refresh</mat-icon></button>
                        </div>
                        <p>Qualifiers : {{qualifiersCount}}</p>

                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th *ngFor="let key of displayKeys">
                                        {{ key }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- <tr *ngFor="let record of normalizedData">
                                    <td *ngFor="let key of displayKeys">
                                        {{ record[key] }}
                                    </td>
                                </tr> -->
                                <tr *ngFor="let record of filteredData">
                                    <td *ngFor="let key of displayKeys">
                                        {{ record[key] }}
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>

            </div>

            <div class="qualifiers" *ngIf="currentView === 'qualifiers'">
                <h4>List of Qualifiers</h4>
                <p *ngIf="listQualifiers.length === 0" class="no-qualifiers-message">
                    No qualifiers available.
                </p>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th *ngFor="let key of displayKeys">
                                {{ key }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let qualifier of listQualifiers">
                            <td *ngFor="let key of displayKeys">
                                {{ qualifier[key] }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>


</div>