*body{
    font-family: 'trebuchet ms';
}
.navbar {
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.logo {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 300px;
}
.nav ul li{
    list-style: none;


}
.nav ul li a{
    text-decoration: none;
    color: black;
}

.dashboard {
    height: 87vh;
    display: flex;
    justify-content: space-around;
    width: 95vw;
    padding: 20px;

}

.navPanel {
    border: solid #d4d2c8 1px;
    border-radius: 5px;
    height: 50vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navPanel button {
    width: 80%;
    height: 50px;
    background-color: #d4d2c8;
    color: black;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    border: solid #d4d2c8 1px;
    border-radius: 5px;
    background-color: #e0e0de;
    height: 82vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formContainer {
    border: solid 1px #d4d2c8;
    height: 85vh;
    width: 60vw;
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.formContainer p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #555;
  }

a {
    color: green;
    text-decoration: none;
    border-bottom: solid 1px #d4d2c8;
}

.collection-section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .collection-dropdown {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .dropdown-label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .dropdown-select {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
    max-width: 300px;
  }
  
  .dropdown-select:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(73, 173, 126, 0.5);
  }
  
  .toggle-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-button:hover {
    background-color: #28a745;
  }
  
  .new-collection-form {
    margin-top: 15px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .form-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .error-message {
    font-size: 14px;
    color: #ff4d4d;
    margin-bottom: 10px;
  }
  
  .input-field {
    width: 100%;
    max-width: 300px;
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(0, 255, 55, 0.5);
  }
  
  .create-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-button:hover {
    background-color: #218838;
  }
  
  /* test */
  .upload-container {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .upload-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .file-input {
    display: block;
    margin-bottom: 15px;
    padding: 5px;
  }
  
  .file-info {
    margin-top: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .file-info-title {
    font-size: 1.2rem;
    margin-bottom: 3px;
  }
  
  .file-list {
    list-style: none;
    padding: 0;
  }
  
  .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }
  
  .remove-btn {
    background-color: #ff4d4f;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  
  .remove-btn:hover {
    background-color: #d9363e;
  }
  
  .upload-btn {
    display: block;
    width: 50%;
    background-color:#28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 5px;
  }
  
  .upload-btn:hover {
    background-color: #218838;
  }
  
  .status-container {
    margin-top: 5px;
    font-size: 1rem;
  }
  
  .status-message {
    padding: 5px 0;
  }
  
  .status-message.uploading {
    color: #faad14;
  }
  
  .status-message.success {
    color: #52c41a;
  }
  
  .status-message.fail {
    color: #f5222d;
  }
  
  .status-message.waiting {
    color: #8c8c8c;
  }
  
  .error-message {
    color: #f5222d;
    font-style: italic;
  }
  

.citizens {
    border: solid #d4d2c8 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 60vw;
    overflow-y: auto;
    background-color: white;
}
.citizenNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 5px;
}

.citizenNav p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
.citizenNav select {
    width: 250px;
    padding: 5px 5px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.citizenNav select:focus {
    border-color: #009879;
    box-shadow: 0 0 5px rgba(0, 152, 121, 0.5);
}
.filter-section{
    border: solid #d4d2c8 1px;
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}
#daysFilter{
    padding: 15px 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.filter-button{
    padding: 5px 10px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.filter-button:hover{
    background-color: #007b63;
    transform: scale(1.05);
}


.refresh-button {
    background-color: #009879;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 3px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refresh-button:hover {
    background-color: #007b63;
    transform: scale(1.05);
}

.refresh-button mat-icon {
    font-size: 20px;
}
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    transition: background-color 0.3s ease;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table th {
    position: sticky;
    top: 0;
    background-color: #009879;
}

.styled-table td {
    font-size: 14px;
    color: #333;
}
.collections{
    border: solid red 1px;
    height: 20vh;
    width: 40vw;
    overflow-y: auto;
}

.attendance-container {
    font-family: Arial, sans-serif;
    /* margin: 20px; */
}

.no-data-message {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

.collection-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.criteria{
    padding: 10px;
    outline: none;
    height: 18px;

}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    border: 1px solid #dddddd;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.qualifiers {
    border: solid #d4d2c8 1px;
    height: 80vh;
    width: 60vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    
}
.qualifiersNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-top: 5px;
}
/* .qualifiersNav mat-icon{
    font-size: 20px;
    cursor: pointer;
    background-color: #009879;
    color: white;
} */
.qualifiersNav button{
    padding: 2px 5px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.attendance-container {
    padding: 20px;
    
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.attendance-table th,
.attendance-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.attendance-table th {
    background-color: #f4f4f4;
}

.error {
    color: red;
}


.qualifiers-container {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.no-qualifiers-message {
    font-size: 16px;
    color: #ff4d4d;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
  }
  







